<section class="grid grid-pad services">
    <p style = "color: #141719; text-align: left"><a href="index.html" class= "a2">หน้าหลัก</a> > แสดงรายการแล็ปท็อปยี่ห้อ Lenovo</p>
    <p style="text-align: right">เรียงลำดับราคาโดย</p>
    <div style="text-align: left; color: #141719;">
    <p style="font-size: 22px; font-weight: bold;">กรองข้อมูลแล็ปท็อป</p>
    <br>
    <p style="font-size: 18px; font-weight: bold;">ยี่ห้อ</p>
        <label style="font-size: 16px;" class="container">Acer
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">Apple
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">Asus
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">Dell
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">Hp
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">Lenovo
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">MSI
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <br>
    <p style="font-size: 18px; font-weight: bold;">ราคา</p>
        <br>
    <p style="font-size: 18px; font-weight: bold;">ขนาดหน่วยความจำชั่วคราว</p>
        <label style="font-size: 16px;" class="container">8GB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">12GB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">24GB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">32GB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">64GB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">128GB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <br>
    <p style="font-size: 18px; font-weight: bold;">พื้นที่จัดเก็บข้อมูล</p>
        <label style="font-size: 16px;" class="container">100GB - 249GB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">250GB - 499GB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label style="font-size: 16px;" class="container">500GB - 1TB
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>