<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>แสดงข้อมูลแล็ปท็อป</title>
        
        {% include 'components/css2.html' %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {% include 'components/css_recom.html' %}

        </head>
        <body id="home" class="bodydark">
            <!-- Header -->
            <header id="top-header" class="header-home">
                {% include 'components/head.html' %}
            </header>
            <!-- End Header -->
            <div id="services"> 
            <!-- แสดงข้อมูลแล็ปท็อปยี่ห้อ Lenovo -->
                <section class="grid grid-pad services">
                    
                    <br><br><br><br>
                    <a class="btn read-more" style = "float: left;" onclick="goBack()">< ย้อนกลับ</a>
                    <br><br>
                    <div class="">
                        <p class="p2">กรอกข้อมูลเพื่อแนะนำแล็ปท็อปที่เหมาะสมกับคุณ</p>
                        <br><br>
                        <p class="p1" style="font-size: 20px">ต้องการแล็ปท็อปที่มีหน้าจอสัมผัสหรือไม่</p>
                        <br><br>
                        <div class="gridtwo">
                            <div class="gridtwo-item">
                                <a href="{{ url_for('recommendation_list', rule='rule2') }}#services">
                                    <img src="{{ url_for('static', filename='recommendation/1_touch.png') }}" onmouseover="zoomIn(this)" onmouseout="zoomOut(this)" width="250" height="auto">
                                    &nbsp;
                                </a>
                            </div>
                            <div class="gridtwo-item">
                                <a href="{{ url_for('recommendation_list', rule='rule4') }}#services">
                                    <img src="{{ url_for('static', filename='recommendation/2_touch.png') }}" onmouseover="zoomIn(this)" onmouseout="zoomOut(this)" width="250" height="auto">
                                    &nbsp;
                                </a>
                            </div>    
                        </div>
                        <br><br>
                            
                    <br>
                    </div>
                </section>                 
            </div>
            <!-- End Services Section -->

                
                <div class="loader-overlay">
                    <div class="loader">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>

              <!-- JS -->
              {% include 'components/js.html' %}
            </body>
        </html>