<div class="grid">
    <div class="col-1-1">
            <div class="logo-wrap">
                <a href="http://127.0.0.1:5000/" style="position: relative; top: 10px; font-weight: bold; font-size: 20px;">เว็บไซต์แนะนำแล็ปท็อป</a>                          
                <nav class="navigation">
                    <input type="checkbox" id="nav-button">
                    <label for="nav-button" onclick></label>
                    <ul class="nav-container" style="font-size: 18px;">
                        <li><a href="http://127.0.0.1:5000/" class="current">หน้าหลัก</a></li>
                        <li><a href="http://127.0.0.1:5000/#about">เกี่ยวกับ</a></li>
                        <li><a href="http://127.0.0.1:5000/#contact">ติดต่อ</a></li>
                        <li><a href="http://127.0.0.1:5000/#team">จัดทำโดย</a></li>
                    </ul>
                </nav>
            </div>
    </div>
</div>  