<div class="parallax-section parallax1">
    <div class="grid grid-pad">
        <div class="col-1-1">
             <div class="content content-header" style="text-align:left;" >  
                <p>
                    <h2 style= "color: #39A5F3;">เว็บแอปพลิเคชันแนะนำแล็ปท็อป</h2>
                    ยินดีต้อนรับสู่เว็บแอปพลิเคชันสำหรับแนะนำแล็ปท็อปดีที่สุด 
                    <br />เราสามารถช่วยคุณค้นหาแล็ปท็อปที่เหมาะกับความต้องการ และงบประมาณของคุณ 
                    <br />ข้อมูลที่เราให้มาจากแหล่งที่เชื่อถือ และมีข้อมูลแล็ปท็อปอย่างละเอียด 
                    <br />พร้อมรีวิวข้อดีและข้อเสียจากผู้ใช้จริงที่ใช้แล็ปท็อปเหล่านี้มาแล้ว 
                    <br />เพื่อให้คุณมั่นใจในความถูกต้องและคุ้มค่าของข้อมูลที่เราให้
                    <br />นอกจากนี้ คุณสามารถเปรียบเทียบแล็ปท็อป 2 อย่าง ที่คุณต้องการตัดสินใจได้
                    
                </p>
                <a class="btn read-more" href="{{ url_for('recommendation') }}">คลิกเพื่อแนะนำแล็ปท็อปที่เหมาะสมกับคุณ</a>
                <br /><br /><br />
                <p style = "position: relative; left: 40px;">เริ่มการค้นหาแล็ปท็อปของคุณ</p>
                {% include 'components/search_form.html' %}    
            </div>
        </div>
    </div>
</div>